<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            padding: 20px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #000;
            border-radius: 10px;
        }

        p {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body>
    <div class="container">

        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <a href="{% url 'register' %}">Register</a>
        </form>
    </div>
</body>
</html>
